@media screen and (max-width: 767px) {
    .nav_btn_special{
        position: absolute;
        left: -9999px;
      }
        .nav_btn:not(:first-child){
        display: none;
    }
    .logo{
        position: relative;
        left: -45%;
        top:0;
        transform: translate(45%,0%);
        padding-left: 20px;
        text-align: left;
    }
    .menu_icon{
       float: right;
       padding-top: 20px;
       padding-right: 20px;
    }
    .menu{
        display: none;
    }

}
@media screen and (min-width:767px) {
    .menu_icon{
        position: absolute;
        visibility: hidden;
    } 
}
.menu_icon{
    color: #FFE66F;
    cursor: pointer;
}
#title{
    display: inline-block; 
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 25px;
    color: 	#FFE66F;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 30px;
    background-color: transparent;
    border: none;
    
}
.topnav{
    background-color: darkgreen;
   
}
.topnav a{
    text-decoration: none;
}
.menu{
    font-family: 'Julius Sans One', sans-serif;
    color:#f5f5dc;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
.menu:hover{
    color: #FFE66F;
}
.pages{
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 80px;
    padding-bottom: 20px;
}
.logo{
    color: darkgreen;
    font-size: 90px;
    padding-top: 30px;
}
#intro{
    padding-bottom: 20px;
}
#about_me{
    padding-bottom: 20px;
}
#intro_photo{
    box-shadow: 25px 25px 20px gray;
}
#about_me_photo{
    box-shadow: 25px 25px 20px gray;
    border: 10px solid snow;
    
}
#skill{
    padding-bottom: 20px;
}
.section_title{
    font-size: 70px;
    text-align: center;
}
.dot{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    background-color:transparent ;
    border: 35px solid darkgreen;
    display: inline-block;
    padding: 20px;
}
#html_css{
    border-color:darkgreen darkgreen #FFF8D7 #FFF8D7;
    background-color: transparent;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px gray;
}
#javascript{
    border-color: darkgreen #FFF8D7 #FFF8D7 #FFF8D7;
    background-color: transparent;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px gray;
}
#bootstrap{
    border-color: darkgreen darkgreen darkgreen #FFF8D7;
    background-color: transparent;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px gray;
}
#java{
    border-color: darkgreen#FFF8D7 #FFF8D7 #FFF8D7;
    background-color: transparent;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px gray;
}
#c_sharp{
    border-color: darkgreen  #FFF8D7 #FFF8D7 #FFF8D7;
    background-color: transparent;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px gray;
}
.exercise{
    width: 80%;
    height: 80%;
    text-align: center;
    box-shadow: 25px 25px 20px gray ;
}
.button{
    border: none;
    background-color: transparent;
    text-align: center;
}
.button:hover{
    background-color: #FFD306;
    border-radius: 10px;
    text-align: center;
}
.button_learniing_web{
    border: none;
    background-color: transparent;
    text-align: center;
}
.button_learniing_web:hover{
    border: none;
    background-color: #FFD306;
    text-align: center;
    border-radius: 10px;
}

.footer{
    background-color: darkgreen;
    color: white;
   
}
#footer{
    padding: 8px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}
.clearfix {
    padding: 5px;
    box-shadow:15px 15px 10px rgba(0, 0, 0, 0.5);
    background: snow;
    cursor: pointer;
  }
  .clearfix:hover{
    transform: scale(1.1);
  }
.img_news {
    float: right;
}
.img_works{
    cursor: pointer;
    width:380px;
    height:200px;
} 
#show_menu_overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: blanchedalmond;
    z-index: 2;
    cursor: pointer;
    color: darkgreen;
}